<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta charset="UTF-8">
    <title>Projects | Wesley Hoy</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=MuseoModerno:wght@700&amp;display=swap" rel="stylesheet">
</head>
<body>
    <ul>
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('about') }}">About</a></li>
        <li><a id = "selected" href="{{ url_for('projects') }}">Projects</a></li>
        <li style="float:right;"><a id = "right" href="mailto:hoywesley@gmail.com">Contact</a></li>
    </ul>
    <hr class = "rounded">
    <div class="container">
        <h2>[projects]</h2>
        <p>check out my <a href="https://github.com/Whoy51">GitHub</a> to see my projects</p>

        <h4>coming soon:</h4>
        <li>a project list integrated into this website, which will highlight all projects (including those not shown on github).</li>
        <li>a posts system, shown on the front page, which will allow me to highlight what's on my mind.</li>
        <li>some more mobile friendliness :)</li>
        <br>
    </div>

</body>
</html>